#
# From /usr/share/openocd/scripts/interface/stlink.cfg
# To find serial number of a Nucleo run:
# lsusb -vvv
#
# Optionally specify the serial number of ST-LINK/V2 usb device.  ST-LINK/V2
# devices seem to have serial numbers with unreadable characters.  ST-LINK/V2
# firmware version >= V2.J21.S4 recommended to avoid issues with adapter serial
# number reset issues.
# eg.
#hla_serial 066CFF495257808667092543
#adapter serial 0669FF555187534867152037
adapter serial 066CFF505271754867022730
